<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>upload</string>
	<key>manageAppVersionAndBuildNumber</key>
	<false/>
	<key>method</key>
	<string>app-store-connect</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.uzairansar.hermesmobile</key>
		<string>Hermes Mobile App Store</string>
		<key>com.uzairansar.hermesmobile.shareextension</key>
		<string>Hermes Mobile Share Extension App Store</string>
		<key>com.uzairansar.hermesmobile.liveactivitywidget</key>
		<string>Hermes Mobile Live Activity App Store</string>
	</dict>
	<key>signingStyle</key>
	<string>manual</string>
	<key>teamID</key>
	<string>6GYD9C9N6R</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
